body {
    margin: 0;
    font-family: 'Smythe', cursive;
    box-sizing: border-box;
} 

header{
    background: url(https://source.unsplash.com/KEZdWfYD-ow);
    background-size: cover;
    background-position: center;
    height: 130px

}
.restaurant-name > h1{
    margin:0;
}
.order-heading{
    text-align: center;
    color: #000;
    font-size: 28px;
    line-height: 16.8px; /* 60% */

}

header{
    margin-bottom: 30px;
}
.restaurant-name{
    padding: 20px;
    color: white;
    text-align: start;
}


.inner{
    display: flex;
    gap: 10px;
    padding:20px;
    justify-content: center;
    align-items: center;
   
}
.item-details{
   
    color:red;
}
 
.item-details > h3,p{
   margin:2px;
}
.item-details > p{
    color: green;
}


.gray{
    color: #8B8B8B;
}

.emoji{
    font-size: 60px;
    margin:0;
}

.add-item-btn{
    padding:12px;
    border: 1px solid #DEDEDE;
    text-align: center;
    background-color: transparent;
    
    
    border-radius: 50%;
    cursor:pointer;
    margin-left: auto;
    color: #3C3C3C;  

    color: #3C3C3C;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
}

.hidden{
    display: none;
}

/* .bill{
    text-align:center;
    color: black;
} */

.bill-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
   
    
}
.black-line, .gray-line{
    margin: 0 30px;
    text-align: center;
}

.gray-line{
    border-top: 1px solid #393333;
  
}

.black-line{
    border-top: 2px solid black;
   
   
}

.order-list{
    list-style-type: none;
    

}


.font-bill-name{
color: #0E0E0E;
font-size: 28px;

line-height: 16px; /* 85.714% */
margin:0;


}

.font-bill-price{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */


}

.padding{
  padding: 0 40px;
}

li{
    margin: 0;
    padding: 0;
}
.order-btn-container{
    width: 100%;
    padding: 0 40px;
    text-align:center;
    box-sizing: border-box;
    margin-top: 15px;
}

.complete-order-btn{
        width: 100%;
        color: white;
        border: none;
        font-size: 16px;
        padding: 1rem 12rem 1rem 12rem;
        border-radius: 3px;
        background: #16DB99;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);   
        
}
/* .col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.remove-tag{
    color: #BBB;
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    margin-left: 5px;
    cursor: pointer;
}

.card{
    width: 50%;
    max-height: 450px;
    box-sizing: border-box;
    border-radius: 3.89px;
    box-shadow: 1px 1px 500px  #696969,-1px -1px 500px  #696969;
    box-sizing: border-box;
    max-width: 800px;
    position: fixed;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    background: #FFF;
    box-sizing: border-box;
    padding: 1.5rem 1rem 0 1rem;
}
.change-font{
    font-family: Verdana;
}
.card > h2{
    text-align:center;
    color: #000;
    font-size:20px;

margin:0;
line-height: 1rem; /* 129.664% */
}
.card-inner{
   
   margin-top: 2.5rem;
    
   
   

}
.order-form{
    height: 100%;
    
    display:flex;
    flex-direction:column;
    gap: 10px;
    /* justify-content: end;
    align-items: center; */
   

}

input{
 width: 100%;
 padding: 20px;
 box-sizing: border-box;


border-radius: 3px;
border: 1px solid #757575;
}
.submit-btn{
    width: 100%;
    border-radius: 3px;
    background: #16DB99;
    padding-top: 16px;
    padding-bottom:16px;
    
    margin: 15px auto;
    
   
}
.thank-you-container{
    margin: 0 auto;
   
    padding:50px;
    background-color: green;
    text-align: center;
    margin:0 auto;
    border-radius: 3px;
    background-color: #ECFDF5;
    
}
.thank-you-message{
    color: #065F46;
    font-family: Smythe;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 52.5% */
    text-align:center;

    margin:0;
    margin-top: 15px;
    margin-right: 24px;
    margin-left: 24px;
    padding:30px 50px;
    background-color: #ECFDF5;
}

@media screen and (max-width: 850px) { 
    .card {
         width: 90%; 
         height: 50vh
         /* padding: 1.5rem .5rem 0.5rem .5rem; */
    } 
    .complete-order-btn{
        padding: 1rem 5rem;
    }
    .thank-you-container{
        
    }
}

/* @media screen and (max-width: 600px) {
    .card{
        margin-top: 50vh
    }
} */
